@model IEnumerable<MyFinalExam.ViewModels.CartItem>
@{
    ViewData["Title"] = "CheckOut";
}
<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>
                <form asp-action="CheckOut" asp-controller="Cart">
                    <div class="p-3 p-lg-5 border bg-white">
                        <div class="form-group">
                            <input type="checkbox" value="false" id="LikeCustomers" name="LikeCustomers">
                            <label class="form-check-label" for="LikeCustomers">Your information?</label>
                        </div>
                        <div class="form-group row delivery-info">
                            <div class="col-md-12">
                                <label class="text-black">Receiver Name<span class="text-danger">*</span></label>
                                <input type="text" name="Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row delivery-info">
                            <div class="col-md-12">
                                <label class="text-black">Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Address" placeholder="Street address">
                            </div>
                        </div>
                        <div class="form-group delivery-info">
                            <label class="text-black">Country <span class="text-danger">*</span></label>
                            <select id="c_country" class="form-control" name="Country">
                                <option value="1">Select a country</option>
                                <option value="2">Bangladesh</option>
                                <option value="3">Algeria</option>
                                <option value="4">Afghanistan</option>
                                <option value="5">Ghana</option>
                                <option value="6">Albania</option>
                                <option value="7">Bahrain</option>
                                <option value="8">Colombia</option>
                                <option value="9">Dominican Republic</option>
                            </select>
                        </div>
                        <div class="form-group row delivery-info">
                            <div class="col-md-12">
                                <label class="text-black">City<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="City">
                            </div>
                        </div>
                        <div class="form-group row mb-5 delivery-info">
                            <div class="col-md-6">
                                <label class="text-black">Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Email">
                            </div>
                            <div class="col-md-6">
                                <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Order Notes</label>
                            <textarea name="Note" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-black btn-lg py-3 btn-block" style="width: 100%;">Place Order</button>
                            <div id="paypal-button-container" class="form-item mt-3" style="max-width:1000px;"></div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                            <div class="input-group w-75 couponcode-wrap">
                                <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                <th>Product</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="~/Hình/images/@item.ProductImageURL"
                                                         style="width:90px;height:90px;" alt="@item.ProductName">
                                                </div>
                                            </th>
                                            <td>@item.ProductName</td>
                                            <td>$@item.ProductSale</td>
                                            <td>@item.Quantity</td>
                                            <td>$@item.PriceTotal</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                        <td class="text-black">$@Model.Sum(p => p.PriceTotal)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Shipping Fee</strong></td>
                                        <td class="text-black">$15</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong>$@Model.Sum(p => p.PriceTotal + 15)</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>
                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>
                                <div class="collapse" id="collapsecheque">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border p-3 mb-5">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>
                                <div class="collapse" id="collapsepaypal">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientId"></script>
    <script>
        $(document).ready(function () {
            $("#LikeCustomers").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $(".delivery-info").addClass("d-none");
                } else {
                    $(this).val(false);
                    $(".delivery-info").removeClass("d-none");
                }
            });
        });
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder: (data, actions) => {
                return fetch("/Cart/create-paypal-order", {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    //chuyển đổi thành một đối tượng
                    return response.json();
                }).then((order) => order.id)
                    .catch(error => alert(error.message));
            },
            onApprove: (data, actions) => {
                return fetch(`/Cart/capture-paypal-order?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    window.location.href = "/Cart/PaymentSuccess";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
}
